sklearn==0.0
spacy==2.2.3
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
flask-cors==3.0.8
pandas==0.25.3
vaderSentiment==3.2.1
nltk==3.4.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz