Click
Flask==2.0.2
gunicorn==19.9.0
itsdangerous
Jinja2
MarkupSafe
flask-cors==3.0.8
vaderSentiment==3.3.2
jolib
joblib==1.1.0
scikit-learn==1.0.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0.tar.gz
spacy==3.2.1